<p>Rodrigo Osvaldo Grijalva López</p>
<img src="../public/images/triangle.png" alt="Fotografia del autor" />
<iframe width="420" height="315" src="https://www.youtube.com/embed/MgDtXA-dpYE" frameborder="0" allowfullscreen></iframe>
