<p>Desarrollado por</p>
<h3>Rodrigo Osvaldo Grijalva López</h3><br/>
<p>Potenciado por</p>
<a href="https://nodejs.org/" target="_blank"><img src="/images/node.png" alt="Logo de Node.JS"/></a>
<a href="https://www.npmjs.com/" target="_blank"><img src="/images/npm.png" alt="Logo de NPM"/></a>
<a href="https://www.heroku.com/" target="_blank"><img src="/images/heroku-logo.png" alt="Logo de Heroku"/>
<a href="https://git-scm.com/" target="_blank"><img src="/images/git-logo.png" alt="Logo de GIT"/></a>
