<h2>Login</h2>
<form method='post' action='/login'>
  <table>
    <tr>
      <td><label for="login">Usuario</label></td>
      <td><input type="text" id="login" name="login" size="30" placeholder="Nombre de usuario" required/></td>
    </tr>
    <tr>
      <td><label for="password">Contraseña</label></td>
      <td><input type="password" id="password" name="password" size="30" required/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="commit" value="Login"/></td>
    </tr>
  </table>  
</form>
